html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

body a {  
    text-decoration: underline;
}

body a:visited {
    color: inherit;
}

/* Text CSS ... Element is added from plugin.js script */

#text {
  margin: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#text a {
  color: #FFF;
}

/* Float CSS ... Pushes element where you want it */

.floatBottom {
  background: #000;
  opacity: 0.8;
  padding: 2px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 45px;
  width: 350px;
  border-radius: 15px;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 10px;
  z-index: 9998!important;
}

.floatBottom a {
    text-decoration: none;
}