html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

body a {  
    text-decoration: underline;
}

body a:visited {
    color: inherit;
}

/* Text CSS ... Element is added from plugin.js script */

#widget {
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#widget a { color: #FFF; }

#widget .glyphicon {
    background: none;
    border: none;
    padding-right: 10px;
}

.floatBottom {
    background: #000;
    opacity: 0.8;
    position: fixed;
    padding-top: 7px;
    padding-left: 18px;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 350px;
    border-radius: 15px;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 10px;
    z-index: 9998!important;
}

.floatBottom a {
    text-decoration: none;
}